<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import router from "@/router";
import { mdiHeartOutline, mdiCursorDefaultClickOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <FancyButton
          ><v-icon :icon="mdiHeartOutline"></v-icon>Love Me</FancyButton
        >
      </v-col>
      <v-col>
        <FancyButton
          ><v-icon :icon="mdiCursorDefaultClickOutline"></v-icon>Click
          Me</FancyButton
        >
      </v-col>
    </v-row>
  </v-container>
</template>
