<script setup lang="ts">
import FramworkPop from "@/components/FramworkPop.vue";
import { computed, ref } from "vue";

const frameList = ref([
  {
    name: "Vuejs",
    img: "https://upload.wikimedia.org/wikipedia/commons/9/95/Vue.js_Logo_2.svg",
    rating: 10,
  },
  {
    name: "Angulajs",
    img: "https://angular.io/assets/images/logos/angular/angular.svg",
    rating: 20,
  },
  {
    name: "Reactjs",
    img: "https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg",
    rating: 100,
  },
]);
function changeRating(rating: number, index: number) {
  console.log("action" + index + " : " + rating);
  frameList.value[index].rating = rating;
}
const orderList = computed(() => {
  return [...frameList.value].sort((n1, n2) => n2.rating - n1.rating);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of frameList" :key="index">
        <FramworkPop
          :name="item.name"
          :img="item.img"
          :index="index"
          @change="changeRating"
        ></FramworkPop>
      </v-col>
      <!-- <v-col><FramworkPop></FramworkPop></v-col>
      <v-col><FramworkPop></FramworkPop></v-col> -->
    </v-row>
    <v-row class="justify-center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
