<script setup lang="ts"></script>

<template>
  <v-card class="mx-auto" max-width="400">
    <v-img
      class="align-end text-white"
      height="300"
      src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.6435-9/163304467_1565284193672069_1658584750240804527_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeED64r7ilvwwpuGJ-w9VPf-J6NitKY09JEno2K0pjT0kUtjGfIbRxXCJmuTFFC3N6cmkdLs4Cb3IDg0uFEoz5AB&_nc_ohc=wtOVqpBlW90AX-b8UBf&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfB4SNHWkSxtFuuh5MpCp0mfNTk5zBD59m9Rqd1t7kA-0Q&oe=63C9383B"
      cover
    >
    </v-img>

    <v-card-subtitle class="pt-4"> Kitdanai Sriraksa</v-card-subtitle>

    <v-card-text>
      <div>Education record</div>

      <div>Graduated from Kabin Wittaya School high school</div>
      <br />

      <div>Interests</div>

      <div>Electric vehicle news in Thailand</div>
    </v-card-text>

    <v-card-actions>
      <v-btn color="orange"> Share </v-btn>

      <v-btn color="orange"> Explore </v-btn>
    </v-card-actions>
  </v-card>
</template>
